<%= form_with model: @book,  class: 'book-main-contents', local: true do |f| %>
<%=link_to '↩', root_path, class:"back-btn" %>
<div class='book-wrap'>
  <div class='book-header'>
    <h1 class='book-header-text'>
      新しい書籍情報を入力
    </h1>
  </div>
  <%= render "shared/error_messages", model: f.object %>
  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">タイトル</label>
    </div>
    <%= f.text_area :name, class:"input-default", maxlength:"40" %>
  </div>

  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">著者</label>
    </div>
    <%= f.text_area :author, class:"input-default", maxlength:"20" %>
  </div>

  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">ジャンル</label>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, 
    {class:"input-select", id:"item-category"}) %>
  </div>

  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">Info</label>
    </div>
    <%= f.text_area :information, class:"input-default"%>
  </div>

  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">日付</label>
    </div>
    <%= f.date_field :date, class:"date-default" %>
  </div>


  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">読書状況</label>
    </div>
    <%= f.collection_select(:status_id, Status.all, :id, :name, {}, 
    {class:"input-select", id:"item-category"}) %>
  </div>


  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">Image</label>
    </div>
    <%= f.file_field :image, id:"book-image" %>
  </div>

  <div class='register-btn'>
    <%= f.submit "書籍登録" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>