<div class="side-bar">
  <div class="side-bar-header">
      <%= link_to image_tag("logo.png", class:"icon"), "/" %>
  </div>

  <div class="side-bar-fotter">
   <% if user_signed_in? %>
      <li><%= link_to current_user.name, user_path(current_user.id), class: "side-contents"  %></li>
      <li><%= link_to new_book_path, class: "side-contents" do %>
      <%= "New Book" %>
      <%= image_tag("booklogo.png", class:"mini-icon") %>
      <% end %>
      </li>
      <% if controller_name == "books" && action_name == "show"%>
      <li><%= link_to "Edit", edit_book_path(@book.id),  class: "side-contents"%></li>
      <% end %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "side-contents"%></li>
    <% else %>
    <% unless current_page?(new_user_registration_path) ||current_page?(new_user_session_path) %>
      <li><%= link_to "Login",  new_user_session_path, class: "side-contents" %></li>
      <li><%= link_to "New User", new_user_registration_path, class: "side-contents"%></li>
    <% end %>
   <% end %>
  </div>
</div>


