<div class='book-main'>
  <%= render "books/side_bar" %>


<%= form_with model: @book,  class: 'book-main-contents', local: true do |f| %>
<%=link_to '←', root_path, class:"back-btn" %>
<div class='book-wrap'>
  <div class='book-header'>
    <h1 class='book-header-text'>
      新しい書籍情報を入力
    </h1>
  </div>
  <%= render "shared/error_messages", model: f.object %>
  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">タイトル</label>
    </div>
    <%= f.text_area :name, class:"input-default", id:"nickname", maxlength:"40" %>
  </div>
    <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">ジャンル</label>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, 
    {class:"input-select", id:"item-category"}) %>
  </div>
  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">Info</label>
    </div>
    <%= f.text_area :information, class:"input-default", id:"nickname"%>
  </div>
  <div class="book-group">
    <div class='book-text-wrap'>
      <label class="book-text">Image</label>
    </div>
    <%= f.file_field :image, id:"book-image" %>
    
  </div>
  <div class='register-btn'>
    <%= f.submit "書籍登録" ,class:"register-red-btn" %>
  </div>
</div>

<% end %>
</div>



 

